@using Sitecore.Common
@model ARPSearch.Models.RenderingModels.SearchResultRenderingModel

@if (Model.IsInitialized)
{
    <link href="~/ARPSearch/css/arpsearch.main.css" rel="stylesheet" />

    <div id="arpsearch-results" class="arps-container"
         data-confid="@Model.SearchConfigurationId" data-requesturl="@Model.SearchServiceAjaxRequestUrl"
         data-searchservice="@Model.SearchService" data-searchresult="@Model.SearchResultModel">
        
        <div class="arps-sidebar">
            <div class="facets-container">
                
            </div>
        </div>
        <div class="arps-content">
        </div>

        <div class="arps-clear"></div>


        @foreach (var f in Model.Facets)
        {
            <input type="hidden" name="facetsDef" id="@f.Key.ToID().ToShortID()" value="@f.Value"/>
        }
    </div>

    <!-- BEGIN: Underscore Template Definition. -->
    <script id="dropdown-facet" type="text/underscore">
        <div class="facet dropdown-facet">
            <label>
                <%= rc.Title %>
            </label> 
            <div class="facet-body">
                <select data-category="<%= rc.FieldName %>">
                    <option value="-1">Select an option</option>
                    <% uscore.map(rc.Values, function(n){ %>
                    <option <% if(n.IsSelected) {%> selected="selected" <% } %> value="<%= n.Value %>"><%= n.Name %></option>
                    <% })%>
                </select>
                <span></span>
            </div>
        </div>
    </script>
    <script id="checkbox-list-facet" type="text/underscore">
        <div class="facets">
            <%= rc.Title %>
        </div>
    </script>
    <!-- END: Underscore Template Definition. -->

    <script src="~/ARPSearch/js/underscore-min.js"></script>
    <script src="~/ARPSearch/js/arpsearch.main.js" ></script>
    
}